.title{
    font-family: 'Cooper Black', 'Cooper';
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    color: #000000;
}
.m-t-5-p{
    margin-top: 5% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.bg-enter{
    background: rgba(153, 0, 255, 1);
    color: white;
 }
 .text{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    text-decoration: underline !important;
    color: #6699FF !important;
 }
 .pad-l-r{
    padding-left: 7%;
    padding-right: 7%;
 }
 .custom-label{
    font-family: "Arial Negreta", "Arial Normal", Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}
.custom-box{
    border: 1px solid #0062cc;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 0px;
}
.notice{
    font-family: 'Arial Cursiva', 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: italic;
    color: #666666;
    font-size: 20px;
}
.btnf{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
