<app-topmenu></app-topmenu>
<div class="custom_container">
  <div class="row">
    <div class="col-md-12 text-center m-t-5-p">
      <span class="title">Create your new presentation</span>
    </div>
  </div>
  <div class="row mt-2 mb-5">
    <div class="col-md-4 offset-md-4">
      <form>

        <div class="form-group">
          <label class="custom-label">Choose name
            <span style="color:red;font-size: 12px;">(required)</span>
          </label>
          <input type="text" class="form-control form-control-lg" [(ngModel)]="project.title" name="title" aria-describedby="emailHelp">
          <div *ngIf="isError && isInValid(project.title)" class="error">please enter title</div>
        </div>

        <div class="form-group">
          <label class="custom-label">Enter brief for your presentation</label>
          <textarea class="form-control form-control-lg" name="brief" [(ngModel)]="project.brief" row="3"></textarea>
        </div>

        <div class="form-group">
          <label class="custom-label">Time of presentation</label>
          <input type="time" class="form-control form-control-lg" [(ngModel)]="project.time" name="time" aria-describedby="emailHelp">
        </div>

        <div class="form-group custom-box mb-2" *ngFor="let item of project.section;let index = index;">
          <label class="custom-label">Section {{index + 1}}</label>
          <label class="custom-label" (click)="removeItem(item)" *ngIf="index != 0" style="float: right;cursor: pointer;">X</label>
          <div class="row">
            <div class="col-md-12">
              <label>Name</label>
              <input type="text" name="section{{index}}" [(ngModel)]="item.name" class="form-control form-control-md">
              <div *ngIf="isError && isInValid(item.name)" class="error">please enter section name</div>
            </div>
          </div>
        </div>
        <div>
          <a class="text" (click)="addMore()">Add section</a>
        </div>

        <div class="row mt-2">
          <div class="col-md-12">
            <p class="notice">
              <span>Fiiling the sections name is very important to make your project clear and organized</span>
            </p>
          </div>
        </div>
        <button *ngIf="!isEdit" (click)="create(project)" class="btn btn-lg btn-primary mt-2">
          i finished!
        </button>
        <button *ngIf="isEdit" (click)="create(project)" class="btn btn-lg btn-primary btnf mt-2">
          save
        </button>
        <span *ngIf="isEdit">&nbsp;&nbsp;</span>
        <button *ngIf="isEdit" (click)="gotoBrief()" class="btn btn-lg btn-danger btnf mt-2">
          cancel
        </button>
      </form>
    </div>
  </div>
</div>