<app-topmenu></app-topmenu>
<div class="custom_container">
  <div class="row">
    <div class="col-md-12 text-center m-t-7-p">
      <span class="title">Forgot your password?</span>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-4 offset-md-4">
      <label class="custom-label" for="exampleInputEmail1">Enter your email address</label>
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <img src="assets/img/user.png">
          </span>
        </div>
        <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Username or email" />
      </div>
      <div class="cancel">
        <u (click)="backClick()">Cancel</u>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-4 offset-md-4">
      <button (click)="emailme()" class="btn btn-lg btn-primary px-2 w-100 custome-btn">
        Email Me
      </button>
    </div>
  </div>
</div>