.title{
    font-family: 'Cooper Black', 'Cooper';
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    color: #000000;
}
.m-t-7-p{
    margin-top: 7% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.custom-label{
    font-family: "Arial Negreta", "Arial Normal", Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}
.custome-btn{
    font-family: "Arial Negreta", "Arial Normal", Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 28px;;
    padding: 3px;
}
.cancel{
    font-size: 18px;
    font-weight: 500;
    float: right;
}