.title{
    font-family: 'Cooper Black', 'Cooper';
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    color: #000000;
}
.m-t-5-p{
    margin-top: 5% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.pad-8{
    padding: 12px;
    padding-bottom: 0px;
}
.pad-delete{
    padding: 4px;
    padding-left: 17px;
    padding-bottom: 0px;
}
.pad-4{
    padding: 4px;
    padding-bottom: 0px;
}
.dis-inline{
    display: inline;
}
.pad-r-0{
    padding-right: 0px;
}
.box{
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    background: #E1F3FF;
}
.box-add{
    text-align: center;
}
.mar-t-b{
    margin-top: 58px;
    margin-bottom: 58px;
}
.box-title{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 5%;
}
.box-status{
    text-align: center;
    padding-bottom: 8px;
    padding-top: 10px
}
.box-images{
    text-align: center;
}
.box-images-title{
    text-align: center;
}
.pad-l-7{
    padding-left: 7px;
}
.pad-l-17{
    padding-left: 17px;
}