<app-topmenu></app-topmenu>
<div class="custom_container">
  <div *ngIf="isLoading" style="position: absolute;z-index: 1111;margin-left: 44.5%;margin-top: 15%;">
    <img src="assets/img/loadar.gif" width="100" height="100" />
  </div>
  <div class="row" *ngIf="!isLoading">
    <div class="col-md-12 text-center mt-3">
      <span class="title">My Projects</span>
    </div>
    <div class="col-md-6 col-lg-4 offset-lg-1 mt-3">
      <div class="input-group input-group-md">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <img src="assets/img/searchIcon.png">
          </span>
        </div>
        <input type="text" name="searchproject" [(ngModel)]="searchtext" placeholder="Search Project" class="form-control" />
        <!-- <ng2-completer [(ngModel)]="searchStr" (selected)="selectProject($event)" [datasource]="dataService" name="search" placeholder="Search Project" [inputClass]="'form-control br-0'" [datasource]="dataService" [minSearchLength]="0"></ng2-completer> -->
      </div>
    </div>
    <div class="col-md-12 col-lg-10 col-12 offset-lg-1 mt-5">
      <div class="row">
        <div class="col-md-4 col-lg-3  col-sm-12 col-12 mb-5">
          <div class="box">
            <div class="box-add" (click)="createProject()">
              <img class="mar-t-b" style="cursor: pointer;" src="assets/img/add.png">
            </div>
          </div>
        </div>
        <div class="col-md-4 col-lg-3 col-12  mb-5" *ngFor="let project of projects | textFilter:searchtext;let index = index">
          <div class="box">
            <div class="box-title">{{project.title}}</div>
            <div class="box-images">
              <img class="pad-8" style="cursor: pointer;" (click)="reviewClick(project)" src="assets/img/review.png">
              <img class="pad-8" style="cursor: pointer;" (click)="editClick(project)" src="assets/img/edit.png">
              <img class="pad-8" style="cursor: pointer;" (click)="deleteClick(project)" style="cursor: pointer;" data-toggle="modal" data-target="#myModal"
                src="assets/img/delete.png">
              <img class="pad-8" style="cursor: pointer;" src="assets/img/share.png" (click)="shareClick(project)">
            </div>
            <div class="box-images-title">
              <div class="dis-inline pad-l-7">
                review
              </div>
              <div class="dis-inline pad-l-7">
                edit
              </div>
              <div class="dis-inline pad-l-17">
                delete
              </div>
              <div class="dis-inline pad-l-7">
                share
              </div>
            </div>
            <div class="box-status">
              <img [ngClass]="{'op-0': project.status != 'publish'}" src="assets/img/status.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 text-center" *ngIf="searchtext != '' && (projects | textFilter:searchtext).length == 0">
      <span class="title">there is no results.</span>
    </div>
  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Delete Confirmation</h4>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this ?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" (click)="delete(selectedId)" class="btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>
    </div>
  </div>
</div>