<app-topmenu></app-topmenu>
<div class="row">
  <div class="col-md-12 text-center m-t-5-p">
    <span class="title">My Projects</span>
  </div>
</div>
<div class="row">
    <div class="col-md-12 text-center mt-5">
      <span class="subtitle">You still don't have projects. to add your first project 
        <a (click)="createProject()" style="color:blue"><u>click here</u></a></span>
    </div>
</div>
<div class="row mt-5">
    <div class="col-md-12 text-center">
        <div class="pageImage">
            <img src="assets/img/projectnull.png" />
          </div>
    </div>
</div>
