.title{
    font-family: 'Cooper Black', 'Cooper';
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    color: #000000;
}
.m-t-5-p{
    margin-top: 5% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.subtitle{
    font-family: "Arial Negreta", "Arial Normal", Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
}
.pageImage{
    margin: auto;
    text-align: center;
}