.header_text {
    margin: auto;
    width: 67%;
    text-align: center;
}
.pageImage{
    margin: auto;
    text-align: center;
}
.image_border{
    border: 6px solid #6A7378;
    width: 99%;
    height: auto;
}