<app-topmenu></app-topmenu>
<div class="row">
  <div class="col-md-12">
    <div class="header_text">
      <p style="font-size:72px;margin-bottom: 0px;">
        <span style="font-family:'Cooper Black', 'Cooper';font-weight:900;color:#FFCC99;">SINS!</span>
      </p>
      <p style="font-size:32px;margin-top: 0px;">
        <span style="font-family:'Cooper Black', 'Cooper';font-weight:900;font-size:36px;">Make it easy to present your project, let your audience to comment on your project and save this comments on a simple
          way...
        </span>
        <span style="font-family:'Arial Negreta', 'Arial Normal', 'Arial';font-weight:700;color:#FFFFFF;"> </span>
      </p>
    </div>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">&nbsp;</div>
  <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
    <div class="pageImage">
      <img class="image_border" src="assets/img/u8.gif" />
    </div>
  </div>
</div>