<app-topmenu></app-topmenu>
<div class="custom_container">
  <div class="d-none d-sm-block">
    <div class="row" style="margin-bottom:5px;height: 100vh;">
      <div class="col-md-3" style="padding:30px;background: #E4E4E4">
        <div class="sidebar-title">
          choose the required section to display the comments
        </div>
        <div *ngFor="let item of project.section;let index = index;" (click)="selectSection(item,index)">
          <div [ngClass]="{'mt-4':index == 0,'mt-1':index != 0,'current': selectedIndex == index}" class="link-color">{{item.name}}</div>
        </div>
      </div>
      <div class="col-md-8 mt-5">
        <div class="title text-center">Reviews</div>
        <div class="comment-box-list mt-2">
          <div class="row">
            <div class="col-md-3 mt-3">
              <div class="form-group">
                <label for="exampleFormControlSelect1">Filter</label>
                <select [(ngModel)]="searchtext" name="filter" class="form-control form-control-sm" id="exampleFormControlSelect1">
                  <option value="All">All</option>
                  <option value="Improvement">Improvement</option>
                  <option value="Conservation">Conservation</option>
                </select>
              </div>
            </div>
            <div class="col-md-2 mt-3">
              <label for="exampleFormControlSelect1">&nbsp;</label>
              <button (click)="searchtext = 'All'" class="btn btn-sm btn-text btn-primary w-100">
                Clear
              </button>
            </div>
          </div>
        </div>
        <div class="comment-box-list mt-2 mb-5">
          <div class="l4">{{selectedSectionName}}
            <div class="pointer-cursor" style="display: inline;float:right;padding-left: 25px;
        transform: rotate(180deg);">
              <img (click)="sortFieldName = 'countDisLike';sortflag = !sortflag" style="margin-top: -7px !important;" src="assets/img/sort1.png"
              />
            </div>
            <div class="pointer-cursor" style="display: inline;float:right;">
              <img (click)="sortFieldName = 'countDisLike';sortflag = !sortflag" src="assets/img/sort1.png" />
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="pointer-cursor" style="display: inline;float:right;padding-left: 25px;
        transform: rotate(180deg);">
              <img (click)="sortFieldName = 'countLike';sortflag = !sortflag" style="margin-top: -7px !important;" src="assets/img/sort1.png"
              />
            </div>
            <div class="pointer-cursor" style="display: inline;float:right;">
              <img (click)="sortFieldName = 'countLike';sortflag = !sortflag" src="assets/img/sort1.png" />
            </div>
          </div>
          <div *ngFor="let item of selectedReview | drpFilter:searchtext | sort: sortFieldName : sortflag;let index = index;">
            <div class="row" style="border-bottom: 1px solid black;margin-right: 0px;margin-left: 0px;" [ngClass]="{'like_bg':item.conservation ,'dislike_bg': item.improvement}">
              <div class="col-md-9 l5" style="padding-top: 10px;padding-bottom: 10px">
                {{item.comment}}
              </div>
              <div class="col-md-3 text-right">
                <div class="align-point">
                  <img src="assets/img/like.png" style="padding-top: 8px;" />
                </div>
                <div class="align-point po-r">{{item.countLike}}</div>
                <div class="align-point">
                  <img src="assets/img/dislike.png" style="transform: rotate(180deg);padding-bottom: 8px;" />
                </div>
                <div class="align-point po-r">{{item.countDisLike}}</div>
              </div>
            </div>
          </div>
          <div *ngIf="selectedReview.length == 0">
            <p class="nocomment">-No comments-</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block d-sm-none">
    <div class="row">
      <div class="col-md-12 mt-2 text-center">
        <div class="title">Reviews</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-1 text-center">
        <div class="title" style="font-size: 30px;">{{selectedSectionName}}</div>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-md-6 col-6 text-center">
        <button (click)="selectedType = 'Improvement';" class="btn btn-lg btn-text btn-danger w-100">
          Improvement
        </button>
      </div>
      <div class="col-md-6 col-6  text-center">
        <button (click)="selectedType = 'Conservation';" class="btn btn-lg btn-text btn-success w-100">
          Conservation
        </button>
      </div>
    </div>
    <div class="row mt-2 mb-2">
      <div class="col-md-12 mt-2 text-center">
        <div class="sel_sec">{{selectedType}}</div>
      </div>
    </div>
    <div class="row mt-3 mb-3" style="height: 250px;min-height: 250px;overflow-y: auto;">
      <div class="col-md-12 mt-2">
        <div *ngFor="let item of selectedReview;let index = index;">
          <div class="row row_m" *ngIf="(selectedType == 'Conservation' && item.conservation ) ||(selectedType == 'Improvement' && item.improvement)">
            <div class="col-md-10 col-lg-10 col-sm-10 col-8 l5" style="padding-top: 10px;padding-bottom: 10px">
              {{item.comment}}
            </div>
            <div class="col-md-2 col-lg-2 col-sm-2 col-4 text-right">
              <div class="align-point">
                <img src="assets/img/like.png" style="padding-top: 8px;" />
              </div>
              <div class="align-point po-r">{{item.countLike}}</div>
              <div class="align-point">
                <img src="assets/img/dislike.png" style="transform: rotate(180deg);padding-bottom: 8px;" />
              </div>
              <div class="align-point po-r">{{item.countDisLike}}</div>
            </div>
          </div>
        </div>
        <div *ngIf="selectedReview.length == 0">
          <p class="nocomment">-No comments-</p>
        </div>
      </div>
    </div>
    <div id="menu" class="row mt-1 mb-1">
      <div id="prev" class="col-2 mt-3" style="max-width: 12%">
        <img *ngIf="project?.section?.length > 4" (click)="selectSection1(false)" src="assets/img/previous.png" class="pointer-cursor"
        />
      </div>
      <div class="col-8 mt-1 cu_s">
        <ul>
          <li *ngFor="let item of project.section;let index = index;">
            <button (click)="selectSection(item,index)" class="btn btn-sm btn-text bg-s btn-primary h-55">
              {{item.name | slice:0:6}}
            </button>
          </li>
        </ul>
      </div>
      <div id="next" class="col-2 mt-3 text-right">
        <img *ngIf="project?.section?.length > 4" (click)="selectSection1(true)" src="assets/img/next.png" class="pointer-cursor"
        />
      </div>
    </div>
  </div>
</div>