<app-topmenu></app-topmenu>
<div class="custom_container">
<div class="row">
  <div class="col-md-12 text-center m-t-5-p">
    <span class="title">Login</span>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 d-none d-sm-block">&nbsp;</div>
  <div class="col-md-4">
    <button (click)="loginWithGoogle(user)" class="btn btn-lg px-3 btn-danger text-left w-100 bg-google">
      <img src="assets/img/google.png" class="p-r-15" height="40" alt="google"> Login with Google
    </button>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 d-none d-sm-block">&nbsp;</div>
  <div class="col-md-4">
    <button (click)="loginWithFacebook(user)" class="btn btn-lg px-3 bg-facebook text-left w-100">
      <img src="assets/img/facebook.png" class="p-r-15" height="40" alt="facebook"> Login with Facebook
    </button>
  </div>
</div>
<div class="row mt-2">
    <div class="col-md-12 col-sm-12 col-12 text-center">
        <img src="assets/img/line.png" style="width: 20%;" alt="line">
        <span style="padding-left: 15px;padding-right: 15px;font-weight: 800;">or</span>
        <img src="assets/img/line.png" style="width: 20%;" alt="line">
    </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 offset-md-4">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <img src="assets/img/user.png">
        </span>
      </div>
      <input type="text" [(ngModel)]="user.email" name="Email" placeholder="Email" class="form-control" />
    </div>
    <div *ngIf="isError && isInValid(user.email)" class="error">please enter email</div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-4 offset-md-4">
    <div class="input-group input-group-lg">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <img src="assets/img/password.png">
        </span>
      </div>
      <input type="password"  [(ngModel)]="user.password" placeholder="Password" name="password" class="form-control" />
    </div>
    <div *ngIf="isError && isInValid(user.password)" class="error">please enter password</div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-4 offset-md-4">
    <button (click)="loginWithUsernamePwd(user)" class="btn btn-lg btn-primary px-2 w-100">
        Login <img *ngIf="isLoading" src="assets/img/loadar.gif" width="30" height="30" />
    </button>
  </div>
</div>
<div class="row mt-4">
    <div class="col-md-4 offset-md-4 text-center">
     <a (click)="gotoForgotPasswordPage()"><i class="forgot-pwd"><u>Forgot Your password?</u></i></a> 
    </div>
</div>
</div>