.title{
    font-family: 'Cooper Black', 'Cooper';
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    color: #000000;
}
.m-t-5-p{
    margin-top: 5% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.bg-google{
    background: rgba(255, 0, 0, 1);
    color: #fff;
}
.bg-facebook{
    background: rgba(0, 0, 153, 1);
    color: #fff;
}
.forgot-pwd{
    font-family: 'Arial Oblique', 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: oblique;
    font-size: 18px;
}