.title{
    font-family: "Cooper Black", Cooper;
    font-weight: 900;
    font-style: normal;
    font-size: 72px;
    color: #000000;
}
.subtitle{
    font-family: "Arial Negreta", "Arial Normal", Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}
.m-t-5-p{
    margin-top: 5% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.pageImage{
    margin: auto;
    text-align: center;
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    color: #FFFFFF;
}
.image_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 244px;
    overflow-wrap: break-word;
    border-width: 0px;
}
.clock-text{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}
