<app-topmenu></app-topmenu>
<div class="row">
  <div class="col-md-12 text-center mt-3">
    <span class="title">Good Luck!</span>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12 text-center">
    <span class="subtitle">Your Code is:&nbsp;&nbsp;{{pin}}</span>
  </div>
</div>
<div *ngIf="isStarted" class="row mt-3 mb-3">
  <div class="col-md-12 text-center">
    <b style="font-size: 30px;">The link to enter a pin is :
      <a style="color: #007bff;cursor: pointer;text-decoration: underline" target="_blank" href="http://noaha.myweb.jce.ac.il/pin">http://noaha.myweb.jce.ac.il/pin</a>
    </b>
  </div>
</div>
<div *ngIf="!isStarted" class="row mt-5" (click)="start()">
  <div class="col-md-12 text-center">
    <div class="pageImage pointer-cursor">
      <img src="assets/img/start-p.png" />
      <div class="image_text">
        <p>
          <span>Start Presentation</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div *ngIf="isStarted" class="row mt-5">
  <div class="col-md-12 text-center">
    <div class="pageImage pointer-cursor">
      <img src="assets/img/end-p.png" />
      <div class="image_text">
        <p>
          <span (click)="start()">End Presentation</span>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-12 mt-4 mb-3 text-center">
    <div>
      <div style="display: inline;">
        <img src="assets/img/clock.png" />
      </div>
      <div style="display: inline;top: 4px;
      position: relative;" class="clock-text">
        &nbsp;Time Left:&nbsp;
        <countdown [config]="config"></countdown>
      </div>
    </div>
  </div>
</div>
