<app-topmenu></app-topmenu>
<div class="custom_container">
  <div class="row mb-5">
    <div class="col-md-8 col-lg-7 col-sm-12 col-12 offset-md-3 offset-lg-3">
      <div class="row">
        <div class="col-md-12 m-t-5-p">
          <div class="title">We Are Creating Your Presentation!</div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="custom-label">Presentation Name</div>
          <div class="custom-value">{{project.title}}</div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="custom-label">Time Of Presentation</div>
          <div class="custom-value">{{project.time}}</div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-12">
          <div class="custom-label">Presentation Brief</div>
          <div class="custom-value">{{project.brief}}</div>
        </div>
      </div>
      <div class="row mt-4 mb-4">
        <div class="col-md-12">
          <div class="custom-label">The Sections Of Your Presentation</div>
          <div *ngFor="let item of project.section;let index = index;">
            <div class="custom-value">Section&nbsp;{{index + 1}}&nbsp;&nbsp;&nbsp;{{item.name}}</div>
          </div>
        </div>
      </div>
      <button (click)="save(project)" class="btn btn-lg btn-text btn-primary mt-2">
        Save
      </button>
      &nbsp;&nbsp;&nbsp;
      <button (click)="gotoEdit(project)" class="btn btn-lg btn-text btn-danger mt-2">
        Edit
      </button>
    </div>
  </div>
</div>