.title{
    font-family: 'Cooper Black', 'Cooper';
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    color: #000000;
}
.m-t-5-p{
    margin-top: 5% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.pad-l-r{
    padding-left: 7%;
    padding-right: 7%;
}
 .custom-label{
    font-family: 'Cooper Black', 'Cooper';
    font-weight: 900;
    font-style: normal;
    font-size: 26px;
    color: #336699;
}
.custom-value{
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
.btn-text{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}
