<app-topmenu></app-topmenu>
<div class="custom_container">
    <div class="row">
        <div class="col-md-12 text-center m-t-3-p">
            <span class="title">Your account details</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form>
                <div class="form-group">
                    <label class="custom-label">Add your first name</label>
                    <input type="text" [(ngModel)]="user.firstname" name="firstname" class="form-control form-control-lg" aria-describedby="emailHelp">
                    <div *ngIf="isError && isInValid(user.firstname)" class="error">please enter first name</div>
                </div>
                <div class="form-group">
                    <label class="custom-label">Add your last name</label>
                    <input type="text" [(ngModel)]="user.lastname" name="lastname" class="form-control form-control-lg">
                    <div *ngIf="isError && isInValid(user.lastname)" class="error">please enter last name</div>
                </div>
                <div class="form-group">
                    <label class="custom-label">Pick a username</label>
                    <input type="text" [(ngModel)]="user.username" (blur)="checkUsername(user)" name="username" class="form-control form-control-lg">
                    <div *ngIf="isError && isInValid(user.username)" class="error">please enter username</div>
                    <div *ngIf="isExistingUsername && !isInValid(user.username)" class="error">Username must be unique</div>
                </div>
                <div class="form-group">
                    <label class="custom-label">Add your email address</label>
                    <input type="text" [(ngModel)]="user.email" (blur)="validateEmail(user)" name="email" class="form-control form-control-lg">
                    <div *ngIf="isError && isInValid(user.email)" class="error">please enter email</div>
                    <div *ngIf="isInValidEmail && !isInValid(user.email)" class="error">Must be in real email format</div>
                </div>
                <div class="form-group">
                    <label class="custom-label">Create a password
                        <span *ngIf="!isInValid(user.password)" [ngStyle]="checkpwdStrength">{{checkpwdStrength.type}}</span>
                    </label>
                    <input type="password" [(ngModel)]="user.password" (keyup)="checkPasswordStroness(user)" name="password" class="form-control form-control-lg">
                    <div *ngIf="isError && isInValid(user.password)" class="error">The password must contain at least 6 characters</div>
                    
                </div>
                <div class="form-group">
                    <label class="custom-label">Password Authentication</label>
                    <input type="password" [(ngModel)]="user.copassword" name="copassword" class="form-control form-control-lg">
                    <div *ngIf="isError && isInValid(user.copassword)" class="error">The password must contain at least 6 characters</div>
                </div>
                <div class="form-check">
                    <input type="checkbox" name="icheck" [(ngModel)]="user.iagree" class="form-check-input">
                    <label class="form-check-label">I agree to the Privacy Policy</label>
                </div>
                <button (click)="register(user)" class="btn btn-lg btn-primary w-100 mt-2">
                    Sign up
                </button>
            </form>
        </div>
    </div>
    <div class="row mb-5 mt-2">
        <div class="col-md-4 offset-md-4">
            <p class="info">
                Don't worry , all your detalis are saved on our secure system and will not exposed to anyone
            </p>
        </div>
    </div>
</div>