.title{
    font-family: 'Cooper Black', 'Cooper';
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    color: #000000;
}
.m-t-3-p{
    margin-top: 3% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.custom-label{
    font-family: "Arial Negreta", "Arial Normal", Arial;
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
}
.info{
    font-family: 'Calibri Italic', 'Calibri Regular', 'Calibri';
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    text-align: center;
}