<app-topmenu></app-topmenu>
<div class="custom_container">
    <div class="row">
        <div class="col-md-12 text-center m-t-5-p">
            <span class="title">Sign up</span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 d-none d-sm-block">&nbsp;</div>
        <div class="col-md-4">
            <button (click)="loginWithGoogle(user)" class="btn btn-lg px-3 btn-danger text-left w-100 bg-google">
                <img src="assets/img/google.png" class="p-r-15" height="40" alt="google"> Sign up with Google
            </button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 d-none d-sm-block">&nbsp;</div>
        <div class="col-md-4">
            <button (click)="loginWithFacebook(user)" class="btn btn-lg px-3 bg-facebook text-left w-100">
                <img src="assets/img/facebook.png" class="p-r-15" height="40" alt="facebook"> Sign up with Facebook
            </button>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12 col-sm-12 col-12 text-center">
            <img src="assets/img/line.png" style="width: 20%;" alt="line">
            <span style="padding-left: 15px;padding-right: 15px;font-weight: 800;">or</span>
            <img src="assets/img/line.png" style="width: 20%;" alt="line">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-4 d-none d-sm-block">&nbsp;</div>
        <div class="col-md-4">
            <button (click)="gotoRegisterPage()" class="btn btn-lg px-3 bg-email text-left w-100">
                <img src="assets/img/email.png" class="p-r-15" height="40" alt="facebook"> Sign up with email
            </button>
        </div>
    </div>
</div>