<app-topmenu></app-topmenu>
<div *ngIf="isLoading" style="position: absolute;z-index: 1111;margin-left: 44.5%;margin-top: 15%;">
  <img src="assets/img/loadar.gif" width="100" height="100" />
</div>
<div class="row mb-5">
  <div class="col-md-12 m-t-5-p">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="custom-box">
          <div class="row">
            <div class="col-md-12">
              <span class="title">Edit profile</span>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <div>
                <label for="exampleInputEmail1">Photo</label>
              </div>
              <img src="{{user.photo}}" class="b-r" onerror="this.src='assets/img/default-user.png'" width="75" height="75" alt="" />&nbsp;&nbsp;
              <span class="btn btn-md btn-cus btn-file pointer-cursor">
                Change
                <input type="file" (change)="selectImage($event)" accept=".png,.jpg">
              </span>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="form-group">
                <label>First name</label>
                <input type="text" [(ngModel)]="user.firstname" name="firstname" class="form-control form-control-lg" aria-describedby="emailHelp">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Last name</label>
                <input type="text" [(ngModel)]="user.lastname" name="lastname" class="form-control form-control-lg" aria-describedby="emailHelp">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Username</label>
                <input type="text" [(ngModel)]="user.username" name="username" class="form-control form-control-lg" aria-describedby="emailHelp">
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-12">
              <div class="form-group">
                <label>About your profile</label>
                <textarea [(ngModel)]="user.aboutus" placeholder="Write a little bit about yourself here" name="aboutus" class="form-control form-control-lg"
                  row="3"></textarea>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12 text-right">
              <button (click)="backClick()" class="btn btn-md btn-cus">
                Cancel
              </button>
              &nbsp;&nbsp;
              <button (click)="update(user)" class="btn btn-md btn-cus">
                Done
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>