.title{
    font-family: 'Arial Black', 'Arial Normal', 'Arial';
    font-weight: 900;
    font-style: normal;
    font-size: 32px;
    color: #000000;
}
.m-t-5-p{
    margin-top: 5% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.custom-box{
    background: white;
    padding: 40px;
}
.btn-cus{
    background: gainsboro;
    border-color: gainsboro;
    color: black;
    font-weight: 600;
}
.b-r{
    border-radius: 38px;
}
.btn-file {
    position: relative;
    overflow: hidden;
  }
  .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
  }