/* Add a black background color to the top navigation */
 .topnav {
    background-color: rgba(25, 158, 216, 1);
    overflow: hidden;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
    line-height: normal;
  }
  .toplogo{
    display: inline;  
  }
  .menu {
    display: inline;
    float: right;
    font-size: 25px;
    padding-right: 20px;
    padding-top: 12px;
    color: white;
    font-weight: 700;
  }
  .custom-link{
    font-family: "Arial Black", "Arial Normal", Arial;
    font-weight: 900;
    font-style: normal;
    font-size: 18px;
    color: rgb(255, 255, 255);
  }
  .pad-t-b-0{
    padding-top: 0px;
    padding-bottom: 0px;
  }
  a:hover{
    color:black !important;
    text-decoration: underline !important;
  }
  
 
 
  