<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <img (click)="gotoMainPage()" class="pointer-cursor" src="assets/img/top_logo.png" width="150" height="45" alt="" />
  <button class="navbar-toggler pointer-cursor" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav ml-auto" [ngClass]="{'hide':checkMenuVisibility()}">

      <li class="nav-item active" *ngIf="isLoginMenu">
        <a class="nav-link custom-link" (click)="gotoLink('login')">Login</a>
      </li>
      <li class="nav-item active" *ngIf="isSignupMenu">
        <a class="nav-link custom-link" (click)="gotoLink('signup')">Sign Up</a>
      </li>
      <!-- <li class="nav-item active">
        <div [@expandCollapse]='state' style="margin-top: 4px;">
            <ng2-completer [(ngModel)]="searchStr" (selected)="selectProject($event)" [datasource]="dataService" name="search" placeholder="What are you looking for?" [inputClass]="'form-control br-0 form-control-md'" [datasource]="dataService" [minSearchLength]="0"></ng2-completer>
        </div>
      </li>
      <li class="nav-item active" *ngIf="isSearchMenu">
        <a class="nav-link custom-link" (click)="searchClick()">
          <img src="assets/img/search.png" alt="" />
        </a>
      </li> -->
      <li class="nav-item active" *ngIf="isProfileMenu">
        <a class="nav-link custom-link pad-t-b-0" (click)="gotoLink('profile')">
          <img src="{{authData?.photo}}" style="border-radius: 38px;" onerror="this.src='assets/img/default-user.png'" width="45" height="45"
            alt="" />&nbsp;{{authData?.username}}</a>
      </li>
      <li class="nav-item active" *ngIf="isMyProjectMenu">
        <a class="nav-link custom-link" (click)="gotoLink('project')">My Projects</a>
      </li>
      <li class="nav-item active" *ngIf="isPinmenu">
        <a class="nav-link custom-link" (click)="gotoLink('pin')">Pin</a>
      </li>
      <li class="nav-item active" *ngIf="isSingoutMenu">
        <a class="nav-link custom-link" (click)="signOut()">Sign Out</a>
      </li>
    </ul>
  </div>
</nav>