/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  overflow-x: hidden;
}
.background{
  background-image: url("assets/img/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100%;
  width: 100%;
}
.hide{
  display: none !important;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left !important;
}

.text-right{
  text-align: right;
}

.error{
  font-family: "Arial Negreta", "Arial Normal", Arial;
  font-weight: 700;
  font-style: normal;
  color: rgb(255, 0, 0);
}

.pointer-cursor{
  cursor: pointer;
}

.nocomment{
    text-align: center;
    background: white;
}

.op-0{
  opacity: 0;
}

.custom_container{
  padding-left: 10px;
  padding-right: 10px;
}

a{
  cursor: pointer;
}

.br-0{
  border-radius: 5px !important;
  margin-right: 30px !important;
}

.completer-input > input::-webkit-input-placeholder {
  font-size: 14px !important;
}