<app-topmenu></app-topmenu>
<div class="row">
  <div class="col-md-12 text-center m-t-5-p">
    <span class="title">Enter your presentation PIN!</span>
  </div>
</div>
<div class="row mt-5">
  <div class="col-md-4 offset-md-4 pad-l-r">
      <form>
          <div class="form-group">
              <input type="text" name="pin" [(ngModel)]="pin" class="form-control text form-control-lg text-center" placeholder="presentation pin" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <button (click)="getProjectFromPin()" class="btn btn-lg bg-enter text px-3 w-100 mt-2">
              Enter
          </button>
      </form>
  </div>
</div>