.title{
    font-family: 'Cooper Black', 'Cooper';
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    color: #000000;
}
.m-t-5-p{
    margin-top: 5% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.bg-enter{
    background: rgba(153, 0, 255, 1);
    color: white;
 }
 .text{
    font-family: 'Arial Black', 'Arial Normal', 'Arial';
    font-weight: 900;
    font-style: normal;
    font-size: 20px;
 }
 .pad-l-r{
    padding-left: 7%;
    padding-right: 7%;
 }