<app-topmenu></app-topmenu>
<div class="custom_container">
  <div class="d-none d-sm-block">
    <div class="row" style="margin-bottom:5px;height: 100vh;">
      <div class="col-md-3" style="padding:30px;background: #E4E4E4">
        <div class="sidebar-title">
          choose the required section to display the comments
        </div>
        <div *ngFor="let item of project.section;let index = index;" (click)="selectSection(item,index)">
          <div [ngClass]="{'mt-4':index == 0,'mt-1':index != 0,'current': selectedIndex == index}" class="link-color">{{item.name}}</div>
        </div>
      </div>
      <div class="col-md-8 mt-5">
        <div class="title text-center">Reviews</div>
        <div class="comment-box mt-3">
          <label class="l1">Add your comment:</label>
          <div class="row">
            <div class="col-md-12">
              <img *ngIf="!commentObj.conservation" src="assets/img/like.png" (click)="toggleClick()" style="padding-right: 10px" />
              <img *ngIf="commentObj.conservation" src="assets/img/like_green.png" (click)="toggleClick()" style="padding-right: 10px"
              />
              <span [ngClass]="{'like_color': commentObj.conservation}" (click)="toggleClick()" class="l2 pointer-cursor">Conservation</span>
              <img *ngIf="!commentObj.improvement" src="assets/img/dislike.png" (click)="toggleClick1()" style="padding-left: 10px;padding-right: 50px;transform: rotate(180deg);"
              />
              <img *ngIf="commentObj.improvement" src="assets/img/dislike_red.png" (click)="toggleClick1()" style="padding-left: 10px;padding-right: 50px;transform: rotate(180deg);"
              />
              <span [ngClass]="{'dislike_color': commentObj.improvement}" (click)="toggleClick1()" class="l2 pointer-cursor">Improvement</span>
            </div>
            <div class="col-md-10 mt-3">
              <textarea [(ngModel)]="commentObj.comment" name="comment" class="form-control form-control-lg" style="height: 50px;" id="exampleInputEmail1"
                aria-describedby="emailHelp"></textarea>
            </div>
            <div class="col-md-2 mt-3">
              <button (click)="addComment()" class="btn btn-lg btn-text btn-primary w-100">
                Send
              </button>
            </div>
          </div>
        </div>
        <div class="comment-box-list mt-3 mb-5">
          <div class="l4">{{selectedSectionName}}</div>
          <div *ngFor="let item of selectedReview;let index = index;">
            <div class="row" style="border-bottom: 1px solid black;margin-right: 0px;margin-left: 0px;" [ngClass]="{'like_bg':item.conservation ,'dislike_bg': item.improvement}">
              <div class="col-md-10 l5" style="padding-top: 10px;padding-bottom: 10px">
                {{item.comment}}
              </div>
              <div class="col-md-2 text-right" *ngIf="likeData.length > 0">
                <img *ngIf="!likeData[selectedIndex][index]?.isLike" src="assets/img/like.png" (click)="likeDislike(likeData[selectedIndex][index])"
                  class="pointer-cursor" style="padding-right: 12px;padding-top: 8px;" />
                <img *ngIf="likeData[selectedIndex][index]?.isLike" src="assets/img/like_green.png" (click)="likeDislike(likeData[selectedIndex][index])"
                  class="pointer-cursor" style="padding-right: 12px;padding-top: 8px;" />

                <img *ngIf="!likeData[selectedIndex][index]?.isDisLike" src="assets/img/dislike.png" (click)="likeDislike1(likeData[selectedIndex][index])"
                  class="pointer-cursor" style="transform: rotate(180deg);padding-bottom: 8px;" />
                <img *ngIf="likeData[selectedIndex][index]?.isDisLike" src="assets/img/dislike_red.png" (click)="likeDislike1(likeData[selectedIndex][index])"
                  class="pointer-cursor" style="transform: rotate(180deg);padding-bottom: 8px;" />
              </div>
            </div>
          </div>
          <div *ngIf="selectedReview.length == 0">
            <p class="nocomment">-No comments-</p>
          </div>
        </div>
        <div class="comment-box-list col-md-2">
          <button (click)="finish()" class="btn btn-lg btn-text btn-primary w-100">
            Finish
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="d-block d-sm-none">
    <div *ngIf="!isNextEnd && !isPreviousEnd ">
      <div class="row">
        <div class="col-md-12 mt-2 text-center d-block d-sm-none">
          <div class="title">{{selectedSectionName}}</div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6 col-6 text-center">
          <button (click)="selectedType = 'Improvement';" class="btn btn-lg btn-text btn-danger w-100">
            Improvement
          </button>
        </div>
        <div class="col-md-6 col-6 text-center">
          <button (click)="selectedType = 'Conservation';" class="btn btn-lg btn-text btn-success w-100">
            Conservation
          </button>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-md-12 mt-2 text-center">
          <div class="sel_sec">{{selectedType}}</div>
        </div>
      </div>
      <div class="row mt-3 mb-3" style="height: 188px;min-height: 188px;overflow-y: auto;">
        <div class="col-md-12 mt-2">
          <div *ngFor="let item of selectedReview;let index = index;">
            <div class="row row_m" *ngIf="(selectedType == 'Conservation' && item.conservation ) ||(selectedType == 'Improvement' && item.improvement)">
              <div class="col-md-10 col-lg-10 col-sm-10 col-9 l5" style="padding-top: 10px;padding-bottom: 10px">
                {{item.comment}}
              </div>
              <div class="col-md-2 col-lg-2 col-sm-2 col-3 text-right" *ngIf="likeData.length > 0">
                <img *ngIf="!likeData[selectedIndex][index].isLike" src="assets/img/like.png" (click)="likeDislike(likeData[selectedIndex][index])"
                  class="pointer-cursor" style="padding-right: 12px;padding-top: 8px;" />
                <img *ngIf="likeData[selectedIndex][index].isLike" src="assets/img/like_green.png" (click)="likeDislike(likeData[selectedIndex][index])"
                  class="pointer-cursor" style="padding-right: 12px;padding-top: 8px;" />

                <img *ngIf="!likeData[selectedIndex][index].isDisLike" src="assets/img/dislike.png" (click)="likeDislike1(likeData[selectedIndex][index])"
                  class="pointer-cursor" style="transform: rotate(180deg);padding-bottom: 8px;" />
                <img *ngIf="likeData[selectedIndex][index].isDisLike" src="assets/img/dislike_red.png" (click)="likeDislike1(likeData[selectedIndex][index])"
                  class="pointer-cursor" style="transform: rotate(180deg);padding-bottom: 8px;" />
              </div>
            </div>
          </div>
          <div *ngIf="selectedReview.length == 0">
            <p class="nocomment">-No comments-</p>
          </div>
        </div>
      </div>
      <div class="row mt-3 mb-3">
        <div class="col-md-12 mt-2">
          <div class="add_text">Add your comment</div>
          <div class="row">
            <div class="col-10">
              <input type="text" style="border-radius: 25px;" [(ngModel)]="commentObj.comment" name="comment" class="form-control form-control-lg"
                id="exampleInputEmail1" />
            </div>
            <div class="col-2" style="padding-left: 0px;">
              <img src="assets/img/send.png" (click)="addComment1()" class="pointer-cursor" style="transform: rotate(45deg);
          border: 4px solid blue;
          border-radius: 8px;
          padding: 6px;" />
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1 mb-1" style="margin-left: 5px;margin-right: 5px;">
        <div style="border-top: 1px solid;width: 100%;"></div>
        <div class="col-6 mt-3">
          <img (click)="selectSection1(false)" src="assets/img/previous.png" class="pointer-cursor" />
          <span style="padding-left: 15px;" class="pp1">previous</span>
        </div>
        <div class="col-6 mt-3  text-right">
          <span style="padding-right: 15px;" class="pp1">next</span>
          <img (click)="selectSection1(true)" src="assets/img/next.png" class="pointer-cursor" />
        </div>
      </div>
    </div>
    <div *ngIf="isNextEnd">
      <div class="row">
        <div class="col-md-12 mt-2 text-center">
          <div class="title">Thank you for your cooperation</div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-6 col-6 text-center">
          <button (click)="this.isNextEnd = false" class="btn btn-lg btn-text btn-danger w-100">
            Back
          </button>
        </div>
        <div class="col-md-6 col-6 text-center">
          <button (click)="finish()" class="btn btn-lg btn-text btn-primary w-100">
            Submit
          </button>
        </div>
      </div>
    </div>
    <div *ngIf="isPreviousEnd">
      <div class="row">
        <div class="col-md-12 mt-2 text-center">
          <div class="title">Thank you for your cooperation</div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12 col-12 text-center">
          <button (click)="finish()" class="btn btn-lg btn-text btn-primary w-100">
            Back home
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="endModal" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-body">
          <h1 class="text-center">end the presentation</h1>
        </div>
      </div>
    </div>
  </div>
</div>