.title{
    font-family: 'Cooper Black', 'Cooper';
    font-weight: 900;
    font-style: normal;
    font-size: 36px;
    color: #000000;
}
.m-t-5-p{
    margin-top: 5% !important;
}
.p-r-15{
    padding-right:15px;
}
.w-100{
    width: 100%;
}
.link-color{
    color:rgb(0, 153, 255);
    padding: 10px;
    cursor: pointer;
}
.current{
    background: #F3F3F3;
}
.pad-l-r{
    padding-left: 7%;
    padding-right: 7%;
}
.sidebar-title {
    font-family: "Arial Cursiva", "Arial Normal", Arial;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
}

.comment-box {
    width: 87%;
    height: 173px;
    box-sizing: border-box;
    box-shadow: none;
    background: #F2F2F2;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(121, 121, 121);
    border-radius: 5px;
    padding: 15px;
    margin: auto;
}
.comment-box-list{
    width: 87%;
    height: auto;
    padding-top: 15px;
    margin: auto;
}

.l1{
    font-family: "Arial Normal", Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: rgb(51, 51, 51);
    text-align: center;
    line-height: normal;
}
.l2{
    font-family: "Arial Normal", Arial;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}
.l4{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
    border-bottom: 2px solid black;
}
.l4_m{
    font-family: 'Arial Negreta', 'Arial Normal', 'Arial';
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}
.l5{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

.like_color{
    color: #33CC00;
}
.dislike_color{
    color:#FF0000;
}
.like_bg{
    background:#EDFADF;
}
.dislike_bg{
    background:#F6DFD9;
}

.sel_sec{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}
.row_m{
    border: 1px solid black;
    margin-right: 5px;
    border-radius: 25px;
    margin-left: 5px;
    margin-bottom: 5px;
    background: white;
}
.add_text{
    font-family: "Arial Rounded MT Bold", "Arial Rounded MT";
    font-weight: 700;
    font-style: normal;
    font-size: 18px;
    margin-left: 5px;
    margin-bottom: 5px;
}
.pp1{
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
}